:root {
  --primary-color: #9c417b;
  --secondary-color: #eac9bb;
}
body {
  background-color: var(--primary-color);
  font-family: "Nunito", sans-serif;

  color: #000000;
}
/*Navbar*/
.navbar {
  margin-right: 0px;
}
.nav-item a {
  color: #000000;
  font-weight: bold;
}
.navbar-brand {
  color: #000000;
  font-family: "Italianno", cursive;
  font-size: 30px;
}
.navbar a:hover {
  transform: scale(1.2);
  color: #000000;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-logo {
  width: 30px;
  margin: 0px;
}
/* Home */
.ME-logo {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
h1 {
  font-family: "Italianno", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.head-line {
  width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: none;
  height: 3px;
  background-color: #000000;
  border-radius: 4px;
}
h2 {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}
.madeleine-profile {
  width: 200px;

  display: block;
  margin: 0 auto;
}
.info-head {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px;
  margin: 70px 0px;
}
.head-info-text {
  margin: 10px;
  text-align: center;
  margin-top: 70px;
}
button {
  background-color: #000000;
  opacity: 0.9;
  padding: 8px 30px;
  border: #000000;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}
.btn-homepage {
  display: block;
  margin: 0 auto;
}
a button {
  color: #eac9bb;
}
button:hover {
  transform: scale(1.2);
  transition: all 200ms linear/ease-in-out;
}
.hanging-stone {
  width: 80px;
  display: block;
  margin: 0 auto;
}
/* Contact */
.stones {
  width: 550px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 4px;
}
.container-contact {
  display: block;
  margin: 0 auto;
}
.btn {
  display: block;
  margin: 0 auto;
}
input[type="text"] {
  background-color: var(--secondary-color);
}
input[type="email"] {
  background-color: var(--secondary-color);
}
.form-control {
  background-color: var(--secondary-color);
}
button[type="submit"] {
  background-color: var(--secondary-color);
}
/*Tjänster*/
.vagledning-img {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.vagledning-img-2 {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.seans-img,
.hus-img {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.seans-img-2,
.hus-img-2 {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
.mid-line {
  width: 1000px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: none;
  height: 3px;
  background-color: #000000;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h3 {
  font-family: "Inria Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.tjanster-info-2 {
  margin: 20px 45px 10px 45px;
}
.price2 {
  margin-left: 45px;
  margin-bottom: 10px;
}
.husrensning1 {
  margin-bottom: 50px;
}
/*About*/
.himlavalvet {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}
.about-text {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 30px;
}
/*Responsive*/
@media (max-width: 770px) {
  .medialvagledning2 {
    visibility: visible;
  }
  .medialvagledning1 {
    display: none;
  }
  .seans1 {
    display: none;
  }
  .husrensning1 {
    display: none;
  }
  .contact-text {
    margin: 0px 20px;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 770px) and (max-width: 2500px) {
  .medialvagledning2 {
    display: none;
  }
  .seans2 {
    display: none;
  }
  .husrensning2 {
    display: none;
  }
}
@media (max-width: 700px) {
  .info-head {
    flex-direction: column;
    margin: 35px;
  }
  .madeleine-profile {
    margin-top: 30px;
  }
  .head-info-text {
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .head-line {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  .mid-line {
    width: 750px;
  }
}
@media (max-width: 600px) {
  .himlavalvet {
    width: 400px;
  }
}
