:root {
  --primary-color: #9b3175;
}
body {
  background-color: var(--primary-color);
  font-family: "Inria Sans", sans-serif;
}
.navbar {
  background-color: black;
}
.nav-item a {
  color: var(--primary-color);
  font-weight: bold;
}
.navbar-brand {
  color: var(--primary-color);
  font-family: "Italianno", cursive;
  font-size: 40px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28155, 49, 117, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
